h1{
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
background-color: rgb(218, 33, 119);
padding:0;
margin: 0;
text-align: center;
}
.highlight {
  display: inline;       
  background-color: yellow;
  font-family: fantasy;
  
}
body{
    background-image: url(Ghost\ Of\ Tsushima\ Wallpaper.jpeg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    

}
.para1{
    font-style: italic;
    font-size:larger;
    font-family: fantasy;
}
.para2{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-style: oblique;
}
ul{
    font-style: italic;
    font-family:fantasy;
}
.h1{
    background-color: rgb(67, 10, 85);
    color: antiquewhite;
}
img{
    position:absolute;
    height: 250px;
    width: 250px;
    border: 5px solid maroon ;
    margin-top: 12px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 3%; 
}
#name{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(68, 6, 19);
    font-weight: bolder;
    text-align: center;
    top: 200px ;
    margin-top: 10%;
    margin-right:20%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid rgb(43, 10, 10);
    width: 20%;
    position: absolute;
    left: 600px;
}